<div class="mainRoute">
  <div class="col-md-12">
    <div class="row">
      <div class="header">
        <p class="headerText">
          <strong>Holiday</strong>
        </p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="form-style formDesign">
        <form>
          <div class="section">
            <span>1</span>Add/Update Holiday</div>
          <div class="inner-wrap">
            <div class="row">
              <div class="col-md-6">

              </div>
            </div>
            <hr>
            <div class="row">
              <button type="submit" color="primary" mat-raised-button>Save</button>
              <button class="pull-right" type="button" color="warn" mat-raised-button>Cancel</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
